### 회귀 평가 지표

**일반적인 회귀 평가 지표**

<img src='imgs/회귀성능평가지표.jpg' width='60%'>

<hr>

In [3]:
# 평가 지표 학습을 위한 test 데이터 구성한 코드

import numpy as np
import pandas as pd

np.random.seed = 2

# 정답으로 간주
y_true = np.random.randint(low=1, high=999, size=700)

# 학습 후에 예측된 데이터로 간주
y_pred = y_true + np.round(np.random.random(700), decimals=1) * np.random.randint(low=-10, high=10, size=700)

print(y_true.shape, y_pred.shape)

data_df = pd.DataFrame(y_true, columns=['y_true'])

data_df['y_pred'] = y_pred
data_df[data_df['y_true'] > data_df['y_pred']]

data_df.head(20)

(700,) (700,)

    y_true  y_pred
0      358   359.4
1      572   567.8
2      115   110.8
3      733   729.4
4       49    49.0
5      963   960.0
6       73    73.4
7      782   788.3
8      239   230.9
9       26    27.4
10     889   891.0
11     168   168.6
12     193   190.6
13     594   585.0
14     500   490.0
15     769   776.0
16     748   741.7
17     593   587.6
18     485   485.0
19     681   681.0

**MAE : 평균 절대 오차**

$$ MAE = \frac{1}{n}\sum_{i=1}^{n}\left|Y_{i}-\hat{Y}_{i}\right| $$

In [4]:
mae = abs(y_pred - y_true).mean()
mae

2.6334285714285723

In [5]:
mae = abs(y_true-y_pred).mean()
mae

2.6334285714285723

In [6]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_true, y_pred)

2.6334285714285723

**MSE : 평균 제곱 오차**

$$ MSE = \frac{1}{n}\sum_{i=1}^{n}(Y_{i}-\hat{Y}_{i})^2 $$

In [7]:
mse = ((y_pred - y_true)**2).mean()
mse

12.18928571428572

In [10]:
mse = np.mean((y_pred - y_true)**2)
mse

12.18928571428572

In [8]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_true, y_pred)

12.18928571428572

**RMSE : 평균 제곱근 오차에 root 적용**

sklearn에는 아직까진 RMSE 산출하는 함수는 미제공

In [11]:
rmse = np.sqrt(np.mean((y_pred - y_true)**2))
rmse

3.491315756886753